[submodule "kross-hugo"]
	path = kross-hugo
	url = https://github.com/themefisher/kross-hugo.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = https://github.com/tedmoore/tedmoore.github.io.git
	branch = main
