[submodule "kross-hugo"]
	path = kross-hugo
	url = https://github.com/themefisher/kross-hugo.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/tedmoore/gohugo-theme-ananke.git
