{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}
{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3"> <!--- mw8 = max width --->
    <header class="mt8 w-100"> <!--- mt = margin top --->
      <h1 class="f1 athelas mt0 mb0">
        {{- .Title -}}
      </h1>
    </header>
    <div class="nested-copy-line-height lh-copy {{ $.Param `post_content_classes`  | default `serif`}} f5 {{ $.Param `text_color` | default `dark-gray` }} w-100-l pb0">  
      {{- .Content -}}
      <div class="flex flex-wrap pa0">
        {{ range  where .Site.RegularPages ".Params.categories" "intersect" (slice "installation") }}
          <div class="tc w-50 ph3 pb0 pt0">
            {{ partial "list-a-work.html" . }}
            <a href="{{ .RelPermalink }}"><img src="{{ .Params.featured_image }}"  width=100% height=auto> 
          </div>
        {{end}}
      </div>
    </div>
  </article>
{{ end }}
