{{/*  this is the list for the "tags" page that shows all the tags and the pages associated  */}}
{{ define "main" }}
    {{ $data := .Data }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 center">
    <section class="ph4">
      {{ range $key, $value := .Data.Terms }}
        <h2 class="f2">
          pages with {{ lower ($.Data.Singular | humanize) }}:<a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link blue hover-black">
            {{ $key }}
          </a>
        </h2>
        {{ range  ($value.Pages.ByParam "year").Reverse }}
          {{ .Render "summary" }}
        {{ end }}
      {{ end }}
    </section>
  </div>
{{ end }}
